<!--
    Cabeçalho
    Seção principal
    Agenda
    Resultados
    Elenco
    Notícias
    Mídia
    Redes Sociais
    ChatBot    
-->

<div class="container">
    <%- include('components/navbar') %>

    <%- include('sections/home') %>
    <%- include('sections/agenda') %>
    <%- include('sections/resultados') %>
    <%- include('sections/elenco') %>
    <%- include('sections/noticias') %>
    <%- include('sections/contato') %>

    <%- include('chat/chatbot') %>
</div>